#articles-search-results-main-container {
    
}

#articles-search-results-main-container h1 {
    text-align: center;
}

#articles-search-results-items-container {
    width: 90%;
    margin: auto;
}

#articles-main-container {
    
}

.articles-search-results-item-container {
    border: 1px solid black;
    display: flex;
    margin-bottom: 10px;
    display: flex
}

.articles-search-result-image {
    min-width: 200px;
    min-height: 230px;
    max-width: 200px;
    max-height: 230px;
    overflow: hidden;
}

.articles-search-results-info {
    padding: 20px;
}

.articles-search-result-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.articles-load-more-search-results {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;

    cursor: pointer;
}

.articles-more-info-icon {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.articles-load-more-search-results-button {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;

    margin-left: 40vw;
    margin-bottom: 50px;
    cursor: pointer;
}

.articles-load-more-search-results-button:hover {
    background-color: black;
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;

    margin-left: 40vw;
    margin-bottom: 50px;
    cursor: pointer;
}


.related-parks-buttons button {
    background-color: white;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.related-parks-buttons button:hover {
    background-color: black;
    color: white;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}