.miniMapContainer {
    width: inherit;
    height: inherit;
    /* position: absolute; */
    /* overflow: hidden; */
    /* height: 40px; */
    /* width: 40px; */
    /* z-index: 0; */
}

.leaflet-container {
    width: inherit;
    height: inherit;
    /* position: absolute; */
    /* z-index: 1; */
    /* margin-top: -2vh; */
    /* margin-bottom: 0vh; */
    /* height: 40vh; */
    /* margin-left: 0vw; */
    /* width: 40vh; */
    /* overflow: hidden; */
    /* background-color: rgb(155, 202, 215); */
}

.campground-marker-popup h4 {
    /* background-color: aqua; */
    padding: 0px;
    margin-bottom: 5px;
}

.popup-description-div {

}
