#register-form-main-container {
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#form-inner-container {
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
    background-image: url(https://www.nps.gov/common/uploads/structured_data/3C7A89F4-1DD8-B71B-0B52204A2EBF61A4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#form-container {
    position: absolute;
    width: 40vw;
    margin-left: 30vw;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#form-container h4 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    width: 20vw;
    margin: auto 0;
    display: block;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

input {
    width: 20vw;
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: auto;
    display: block;
    text-align: center;
    padding: 5px;
}

.name-form-conatiner {
    display: flex;
    justify-content: space-around;
}

.firstName,
.lastName {
    width: 15vw;
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: auto;
    display: block;
    text-align: center;
    padding: 5px;
}

.register-label {
    color: #444;
    text-shadow: none;
}

#submit-button {
    width: 10vw;
    margin: auto;
    background-color: white;
    border: 1px solid #333;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #333;
    color: white;
}

.error-container {
    border: 2px solid red;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -20px;
    padding: 5px;
    color: red;
    font-weight: bold;
}