#things-to-do-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.things-to-do-item-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 95%;
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
}

.supplemental-things-to-do-item-container-main {
    width: 60%;
    /* background-color: aqua; */
}

.supplemental-articles-item-container-other {
   width: 30%;
   /* background-color: pink; */
   padding-left: 20px;
}


.things-to-do-item-image-container {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.things-to-do-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more-info-icon-thing-to-do {
    /* position: absolute;
    bottom: 0;
    right: 0; */
    width: 15px;
    height: auto;
    opacity: 0.6;
    margin: 3px;
}

#things-to-do-container h1 {
    text-align: left;
}