.tour-details {
    width: 100%;
    /* overflow: hidden; */
    /* background-color: aqua; */
}

.weather {
    width: 100%;
    /* height: 40vh; */
}

.tour-details-main-container {
    margin-top: 22px;
}

.tour-details-header-map-conatiner {
    position: relative;
    width: 100%;
    height: 40vh;
    /* margin-left: 2vw; */
}

.tour-details-map-footer {
    width: 100%;
    height: 50px;
    background-color: black;
}

.tour-details-header-main {
    text-align: left;
    margin-left: 30px;
}

.more-info-icon-park-page {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    width: 15px;
    height: auto;
    opacity: 0.6;
    margin: 3px;
}









.tour-details-stops-container {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin-left: 2%;
}



.tour-details-stops-item-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
}

.left {
    /* background-color: aqua; */
    padding: 20px;
    /* border-bottom: 2px solid black; */
    width: 25%;
}

.right {
    padding: 20px;
    width: 75%;
}

.tour-details-stops-item-container-name {
    font-size: 18px;
    font-weight: bold;
}



.tour-details-stops-item-container-significance {
    font-style: italic;
}