#trip-details-container {

}

#trip-details-inner-container {
    align-items: center;
}

#trip-details-inner-container h1 {
    text-align: center;
}

.single-item {
    width: 90%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.item-left-container {
    width: 100px;
    height: 150px;
    text-align: center;
    /* margin-top: -15px; */
}

.item-left-container button {
    height: 20px;
    width: 90px;
    font-size: 14px;
    line-height: 10px;
    margin-top: 2px;
}

.item-category {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

.item-middle-container {
    margin-left: 10px;
    width: 80%;
}

.item-middle-container h4 {
    /* background-color: beige; */
    padding: 0px;
    margin-bottom: 1px;
}


.item-right-container {
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}















/* icons page: https://www.nps.gov/maps/tools/symbol-library/index.html */

.item-category-park {
    width: 100px;
    height: 100px;
    background-image: url('https://www.nps.gov/maps/tools/symbol-library/assets/img/wilderness-black-22.svg');
    /* background-color: #ff6600; */
    background-size: 100px 100px;
    color: white;
}

.item-category-tour {
    width: 100px;
    height: 100px;
    background-image: url('https://www.nps.gov/maps/tools/symbol-library/assets/img/maps-black-22.svg');
    /* background-color: #ff6600; */
    background-size: 100px 100px;
    color: white;
}

.item-category-event {
    width: 100px;
    height: 100px;
    background-image: url('https://www.nps.gov/maps/tools/symbol-library/assets/img/calendar-events-black-22.svg');
    /* background-color: #ff6600; */
    background-size: 100px 100px;
    color: white;
}

.item-category-visitorCenter {
    width: 100px;
    height: 100px;
    background-image: url('https://www.nps.gov/maps/tools/symbol-library/assets/img/visitor-center-black-22.svg');
    /* background-color: #ff6600; */
    background-size: 100px 100px;
    color: white;
}

.item-category-campground {
    width: 100px;
    height: 100px;
    background-image: url('https://www.nps.gov/maps/tools/symbol-library/assets/img/campsite-black-22.svg');
    /* background-color: #ff6600; */
    background-size: 100px 100px;
    color: white;
}















.events-item-date-trip-details {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    /* padding: 10px; */
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /* margin: 5px; */
    width: 100px;
    height: 100px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
}

.event-month-trip-details {
    font-size: 16px !important;
    font-weight: bold;
    margin: 0;
    background-color: red;
    padding: 5px;
}

.event-day-trip-details {
    font-size: 32px !important;
    font-weight: bold;
    margin: 0;
}

.event-year-trip-details {
    font-size: 16px !important;
    margin: 0;
}