#banner-one {
    background-color: black;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
}

#banner-one-div-one {
    background-color: red;
    height: 230px;
    margin-top: 10px;
    width: 32%;
    transition: 300ms ease-in-out;
}
#banner-one-div-one:hover {
    scale: 1.02;
}

#banner-one-div-two {
    background-color: red;
    height: 230px;
    margin-top: 10px;
    width: 32%;
    transition: 300ms ease-in-out;
}
#banner-one-div-two:hover {
    scale: 1.02;
}

#banner-one-div-three {
    background-color: red;
    height: 230px;
    margin-top: 10px;
    width: 32%;
    transition: 300ms ease-in-out;
}
#banner-one-div-three:hover {
    scale: 1.02;
}

#supplemental-container {
    overflow: hidden;
}