.MapContainer {
    width: inherit;
    height: inherit;
    
    /* position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 0; */
}

.leaflet-container {
    width: inherit;
    height: inherit;

    /* position: absolute;
    height: fill;
    width: fill;
    overflow: hidden;
    background-color: white; */
}


.leaflet-popup-content h4 {
    width: 48vw;
}



.popup {
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 30vw; */
    /* height: auto; */
    /* background-color: aqua; */
}

.popup-image-div {
    position: absolute;
    width: 12vw;
    height: auto;
    background-color: white;
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 1vh;
    border: 1px solid black;
}

.popup-image {
    width: 10vw;
    margin-left: 1vw;
    /* height: auto; */
}

.popup-description-div {
    width: 32vw;
    /* height: auto; */
    margin-left: 13vw;
}

.popup-description {
    /* width: 10vh; */
    /* margin-left: 10vh; */
    
}

.leaflet-popup-content-wrapper {
    display: flex;
    width: 50vw;
    border: 1px solid black;
    animation: test;
    animation-duration: 1s;
}

@keyframes test {
    0% {
        
    }

    100% {

    }
}

.leaflet-popup-content {
    
}