#news-releases-inner-container {
    /* background-color: blue; */
    width: 100%;
    /* height: 50vh; */
    /* margin: 0 auto; */
}

.news-release-item-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    /* background-color: pink; */
    width: 30%;
    /* min-height: 60px; */
}


.news-release-image-container {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}

.news-release-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 10px;
}

.news-release-info-container {
    padding: 10px;
}

.news-release-info-container a {
    color: black;
    text-decoration: underline black;
}

.news-release-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
}

.news-release-abstract {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

.news-release-date {
    font-size: 16px;
    margin-top: 8px;
    text-align: left;
}







#load-more-home-button-news-releases {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;

    cursor: pointer;
}

#load-more-home-button-news-releases:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: large;

    cursor: pointer;
}