#park {
  width: 100%;
  /* overflow: hidden; */
  /* background-color: aqua; */
}


#park-main-container  {
  width: 100%;
  margin-top: 20px;
  /* background-color: aqua; */
}

.weather {
  width: 100%;
  /* height: 40vh; */
  /* background-color: aqua; */
}

.park-header-map-conatiner-small {
  position: relative;
  width: 100%;
  height: 50vh;
  /* margin-left: 2vw; */
}

.park-map-footer {
  width: 100%;
  height: 50px;
  background-color: black;
}

#park-options-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
}

#toggle-campgrounds-button {
  height: 30px;
  width: 180px;
  margin-top: 9px;
  margin-left: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
}

#toggle-campgrounds-button:hover {
  height: 30px;
  width: 180px;
  margin-top: 9px;
  margin-left: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
}

.park-header-main {
  text-align: left;
  margin-left: 30px;
}

.more-info-icon-park-page {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  width: 15px;
  height: auto;
  opacity: 0.6;
  margin: 3px;
}

.park-address {
  margin-top: -20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

