.park {
  /* background-color: aqua; */
}

.park-banner {
  display: flex;
  justify-content: space-around;
  /* height: 20vh; */
  /* overflow: hidden; */
}

.park-image {
  width: 60vw;
  /* margin-left: 5%; */
}

.mini-map-conatiner {
  width: 40vw !important;
  height: 40vh !important;
  margin-right: 20vh !important;
  /* margin-left: 5%; */
  background-color: black;
}

.park-info {
  width: 50vw;
  margin-left: 2vw;
}

.weather {
  width: 50vw;
  margin-left: 2vw;
}
