.park {
  width: 100%;
  overflow: hidden;
  /* background-color: aqua; */
}





.park-top {
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 100%; */
  /* background-color: aqua; */
}


.mini-map-conatiner {
  position: absolute;
  width: 50vw;
  height: 50vh;
  margin-left: 2vw;
  margin-top: 3vh;
  /* margin-left: 5%; */
  /* background-color: black; */
}

.park-info {
  position: absolute;
  width: 48vw;
  margin-left: 2vw;
  margin-top: 55vh;
}

.weather {
  width: 50vw;
  height: 40vh;
  /* margin-left: 2vw; */
  /* background-color: aqua; */
}






.images {
  position: absolute;
  width: 44vw;
  margin-left: 54vw;
}

.image-buttons-container {
  position: absolute;
  width: 40vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.park-image {
  position: absolute;
  width: 40vw;
  margin-top: 3vh;
  margin-left: 2vw;
  /* padding: 1vw 2vw 2vw 2vw; */
  /* margin-left: 5%; */
  content: 'test';
}







