.gallery-page-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* margin-top: 5vh; */
    /* background-color: black; */
    /* overflow: hidden; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.gallery-container {
    position: absolute;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    margin: 10px;
    width: calc(33.33% - 20px);
    height: calc(33.33% - 20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    transition: 400ms ease-in-out;
}

.image:hover {
    margin: 1px;
    padding: 9px;
}

.image-hover-div {
    position: relative;
    width: 98%;
    margin-left: 1%;
    height: 20%;
    overflow: hidden;

    text-align: right;
    border-radius: 4px;
    padding: 2px;

    /* background-color: white; */
    /* opacity: 30%; */
    
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

    animation: slide-in;
    animation-duration: 1s;
    
}

@keyframes slide-in {
    0%{
        width: 0px;
        opacity: 100%;
        /* max-height: 60px; */
    }
    100%{
        max-height: fit-content;
    }
}

.image-hover-div p {
    margin-right: 10px;

    animation: text-appear;
    animation-duration: 1s;
}
@keyframes text-appear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    50% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: inherit;
    }
}




.image-hover-div p a {
    color: black;
}

/* .image-hover-div .link {
    text-align: left;
} */

.image-hover-div:hover {
    opacity: 90%;
    transition: 300ms ease-in-out;
}

.page-bottom {
    /* width: 100%; */
    height: 10vh;
    padding-top: 3vh;
}

.load-more-images-button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 8px;

    transition: all 500ms;
}

.load-more-images-button:hover {
    cursor: pointer;
    box-shadow: 2px 5px 5px black;
}

.loading-div {
    width: 80vw;
    height: 20px;
    border-radius: 5px;

    animation: loading-animation;
    animation-duration: 3s;
}

@keyframes loading-animation {
    0%{
        background-color: white;
        margin-top: 2vh;
        width: 0vw;
    }
    25% {
        background-color: black;
        margin-top: 2vh;
        width: 80vw;
    }
    100% {
        background-color: black;
        margin-top: 60vh;
    }
}