#plan-a-trip-banner-container {
    /* background-color: black; */
    background-image: url('../images/3C7AA462-1DD8-B71B-0BB13D97381C04B0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 1%;
    width: 94%;
    margin-left: 3%;
    height: 350px;
}

#plan-a-trip-banner-container h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    padding-top: 30px;
}

#trip-type-select-dropdown {
    cursor: pointer;
}

form label {
    width: 50%;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: larger;
}

#trip-type-select-dropdown {
    width: 50%;
    height: 40px;
    background-color: white;
    height: 50px;
    margin: auto auto;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}


#start-planning-button {
    width: 20%;
    height: 40px;
    background-color: white;
    height: 50px;
    margin: auto auto;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    margin-top: 10px;

    animation: show-button;
    animation-duration: 1s;
}

#start-planning-button:hover {
    background-color: black;
    color: white;
}


@keyframes show-button {
    0% {
        opacity: 0;
        margin-top: -100px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 10px;
    }
}