#search-banner-container {
    /* background-color: black; */
    background-image: url('../images/9224B04F-1DD8-B71B-0B6D9AC425D7B332HiResProxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 70%;
    width: 94%;
    margin-left: 3%;
    height: 300px;
}



#search-banner-container h1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    padding-top: 30px;
}


#search-button {
    background-color: white;
    height: 50px;
    margin: auto auto;
    width: 150px;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    border: 2px solid black;
    font-weight: bold;
    margin-top: 10px;

    animation: show-button;
    animation-duration: 1s;
}

#search-button:hover {
    scale: 1.08;
    cursor: pointer;
}


#searchBox {
    width: 50%;
    height: 40px;
    background-color: white;
    height: 50px;
    margin: auto auto;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

@keyframes show-button {
    0% {
        opacity: 0;
        margin-top: -100px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 10px;
    }
}



form fieldset {
    border: none;
    /* background-color: aqua; */
}

.radio-label {
    font-weight: bold;
    width: 15vw;
    text-shadow: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    border: 2px solid black;

    animation: show-button;
    animation-duration: 1s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: black;
    border: 2px solid white;
    color: white;
}