#search-results-main-container {

}

#search-results-main-container h1 {
    text-align: center;
}

#search-results-items-container {
    width: 90%;
    margin: auto;
}

.search-results-item-container {
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 10px;
}

.search-result-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.search-results-info {
    margin-left: 20px;
}

.load-more-search-results {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;

    cursor: pointer;
}