#visitor-centers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 50px; */
    overflow: hidden;
}

#visitor-centers-items {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
}

.visitor-centers-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.visitor-centers-item-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visitor-centers-item-image img {
    max-width: 120%;
    max-height: 120%;
    object-fit: cover;
}

.visitor-centers-item-header {
    padding: 20px;
}

.visitor-center-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.visitor-center-description {
    margin-top: 10px;
    font-size: 1.1em;
}

.visitor-centers-item-info {
    padding: 0 20px 20px 20px;
}

.operating-hours {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
}



#buttons-sub-container {
    display: flex;
    flex-direction: row;
}

#buttons-sub-container button {
    height: 40px !important;
    padding: 5px !important;
    margin-top: 10px !important;
}